
.navigations {
    overflow-y: auto;
    width: 210px;
    height: calc(100vh - 80px);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(0,0,0,.9);
}
.navigations a.nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 16px;
    white-space: nowrap;
    margin-top: 15px;
}
.navigations a.nav span:first-child {
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.main-content {
    width: 100%;
    padding: calc(80px + 15px) 0 0 calc(210px + 15px);
    min-height: 1000vh;
    background-color: rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    color: #fff;
}
.rank-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.rank-list__title {
    font-size: 25px;
    display: flex;
    margin-bottom: 15px;
}
ul.rank-list__items {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap
}
ul.rank-list__items>li {
    width: calc((100% - 25px*4) / 5);
    height: 215px;
    display: flex;
    min-width: 216px;
    border-radius: 10px;
    margin: 0 20px 20px 0;
}
ul.rank-list__items>li>a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
ul.rank-list__items>li>a>img {
    width: 100%;
    height: 128px;
    border-radius: 10px;
}
.item-infor {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: calc(100% - 128px);
    padding: 5px 0;
}
ul.rank-list__items>li>a:hover .item-infor {
    padding: 5px 10px;
}
.item-infor>h3 {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-infor>p {
    font-size: 12px;
    color:#7F7F8C;
}
.item-infor__theloai {
    display: none;
}
.item-infor__theloai>span {
    border-radius: 5px;
    margin: 0 5px 0 0;
}
ul.rank-list__items>li>a:hover .item-infor__theloai {
    display: flex;
}
ul.rank-list__items>li>a:hover .item-infor .tt {
    display: none;
}